- title "Chat" 
%ul#chat
  = render @messages 
= form_for Message.new, :remote => true do |f| 
  = f.text_area :content 
  = f.submit "Send", class: "btn btn-primary pull-right"
= subscribe_to "/messages/new"

- if session[:pubkey].nil?
  - session[:pubkey] = 'hello'