- title "Chat" 
- content_for :sidebar do
  = render 'users_list'
%ul#chat
  = render @messages 
= form_for Message.new do |f| 
  = f.text_area :content 
  = f.submit "Send", class: "btn btn-primary pull-right"

