!!!
%html
  %head
    %title Pclub
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags 
  %body
    %header
      = render 'shared/top_navbar'
    #container.container
      - flash.each do |name, msg| 
        = content_tag :div, msg, :id => "flash_#{name}" 
      = yield 
