!!!
%html
  %head
    %title Pclub
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags 
  %body
    %header
      = render 'shared/top_navbar'
    #container.container
      .sys-messages
        .row
          - flash.each do |name, msg|
            = content_tag :div, msg, class: "alert flash-#{name}" 
      .row
        = render 'shared/sidebar' if content_for? :sidebar
        %div{ class:  content_for?(:sidebar) ? 'col-md-8 col-xs-hidden' : 'col-md-12' }
          = yield 
